* {
    margin: 0;
    touch-action: manipulation;
    font-family: system-ui, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2em 4em;
    background-color: #fde8ce;
}

h1 {
    display: flex;
    margin-top: 1em;
    font-size: 3em;
}

h1.accounts::before {
    margin-right: .3em;
    content: '⛺';
}

h1.raffles::before {
    margin-right: .1em;
    content: '⚡';
}

h2 {
    margin-top: 1em;
    font-size: 2.4em;
}

h2.comments::before {
    margin-right: .3em;
    content: '💬';
}

h2#prize {
    font-size: 2em;
    font-weight: normal;
}

p {
    margin-top: 1em;
    font-size: 2em;
}

ul {
    margin-top: 1em;
    padding: 0;
    list-style-type: none;
    font-size: 2em;
}

ul.accounts {
    padding-left: 1em;
    list-style-type: disc;
}

ul.comments {
    font-size: 1.5em;
}

ul li {
    margin-bottom: .4em;
}

ul li.accounts::before {
    margin-right: .3em;
    content: '⛺';
}

ul li.events::before {
    margin-right: .3em;
    content: '🗓';
}

ul li.raffles::before {
    margin-right: .3em;
    content: '⚡';
}

a {
    color: #f7931a;
}

div#balance {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#balance h2 {
    font-weight: normal;
}

div#balance p {
    margin-top: .4em;
    font-size: 1.5em;
    text-transform: uppercase;
    color: grey;
}

dl#prize-tickets {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 50em;
}

dl#prize-tickets div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16em;
}

dl#prize-tickets dt {
    margin-top: .4em;
    font-size: 4em;
    font-weight: bold;
}

dl#prize-tickets dd {
    margin-top: .4em;
    font-size: 1.5em;
    color: grey;
}

div.buttons {
    display: flex;
    flex-direction: column;
    margin: 1em auto 0;
}

div.buttons button {
    margin-bottom: 1em;
    border: none;
    border-radius: .5em;
    padding: .5em 1em;
    background-color: grey;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

div.buttons button:first-child {
    background-color: #f7931a;
}

div.buttons button:disabled {
    opacity: .5;
    cursor: default;
}

div.raffle {
    margin-top: 3em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

main ul {
    list-style-type: disc;
    padding-left: 1em;
}

main ul button {
    display: block;
    margin-top: .2em;
    padding: .4em .8em;
    border: none;
    border-radius: .5em;
    background-color: grey;
    color: white;
    font-size: .5em;
    font-weight: bold;
    cursor: pointer;
}

main.events h1::before {
    margin-right: .3em;
    content: '🗓';
}

main.raffles h1::before {
    margin-right: .1em;
    content: '⚡';
}

dialog {
    width: 100%;
    max-width: 320px;
    margin: auto;
    padding-bottom: 0;
    border: none;
    border-radius: 8px;
}

dialog::backdrop {
    background: black;
    opacity: .5;
}

dialog h2 {
    margin-top: 0;
    font-size: 1.5em;
}

dialog div {
    display: flex;
}

dialog div#prizes {
    flex-direction: column;
}

dialog div#prizes span {
    align-self: center;
    margin: 0 .2em;
}

dialog p {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1em;
}

dialog label {
    display: block;
    margin-bottom: .2em;
    color: grey;
}

dialog label button {
    font-size: 1em;
}

dialog input {
    display: flex;
    flex-grow: 1;
    font-size: 1em;
}

dialog select {
    font-size: 1em;
}

dialog textarea {
    font-size: 1em;
}

dialog div.buttons {
    align-items: center;
}

dialog button.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .2em .4em;
    border: none;
    background-color: white;
    color: black;
    font-size: 2.1em;
    cursor: pointer;
}

footer {
    color: grey;
}
