* {
    margin: 0;
    touch-action: manipulation;
    font-family: system-ui, sans-serif;
}

body {
    margin: 24px 16px 32px;
    background-color: #fde8ce;
}

a {
    color: #f7931a;
}

div.buttons {
    display: flex;
    flex-direction: column;
    margin: 24px auto 0;
}

div.buttons button {
    margin-bottom: 12px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    background-color: grey;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

div.buttons button:first-child {
    background-color: #f7931a;
}

div.buttons button:disabled {
    opacity: .5;
    cursor: default;
}

header {
    display: flex;
    max-width: 360px;
    margin: 0 auto;
    padding: 0 8px;
    align-items: center;
    justify-content: space-between;
}

header.center {
    padding-top: 8px;
    justify-content: center;
}

header h1 {
    display: flex;
    font-size: 36px;
}

header h1.account::before {
    margin-right: 12px;
    content: '⛺';
}

header h1.event::before {
    margin-right: 12px;
    content: '🗓';
}

header h1.raffle::before {
    margin-right: 8px;
    content: '⚡';
}

header button {
    padding: 4px 12px 8px;
    border: none;
    border-radius: 8px;
    background-color: #f7931a;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    margin: auto;
}

main h2 {
    display: flex;
    margin-top: 24px;
    font-size: 32px;
}

main h3 {
    margin: 20px 16px 8px;
    font-size: 20px;
    font-weight: normal;
}

main ul {
    margin: 0;
    padding: 0;
    border-radius: 12px;
    background-color: #fff9;
    list-style-type: none;
    font-size: 20px;
}

main ul li {
    display: flex;
}

main ul li:not(:last-child) {
    border-bottom: 1px solid #fde8ce;
}

main ul li a {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 12px 16px 12px;
    gap: 8px;
    text-decoration: none;
}

main ul li a::after {
    content: '⌃';
    rotate: 90deg;
    color: #fde8ce;
}

main ul li a * {
    flex-grow: 1;
}

main ul li a div {
    display: flex;
    flex-direction: column;
}

main ul li p.subdued {
    margin-top: 2px;
    font-size: 16px;
    color: grey;
}

main ul li p span {
    white-space: nowrap;
}

main ul li button {
    align-self: flex-start;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin: 12px 12px 0 0;
    padding: 0;
    border: none;
    border-radius: 8px;
    background-color: grey;
    color: white;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transform: scaleX(-1);
}

main div.balance {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div.balance h2 {
    font-weight: normal;
}

main div.balance p {
    margin-top: 4px;
    font-size: 20px;
    text-transform: uppercase;
    color: grey;
}

main div.statistics {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 24px 0 8px;
    font-size: 24px;
}

main.dashboard {
    margin-top: 24px;
}

main.dashboard ul {
    font-size: 28px;
}

main.dashboard ul li.accounts a::before {
    content: '⛺';
}

main.dashboard ul li.events a::before {
    content: '🗓';
}

main.dashboard ul li.raffles a::before {
    content: '⚡';
}

main.accounts {
    margin-top: 24px;
}

main.account {
    align-items: center;
}

main.account div.invoices {
    align-self: stretch;
}

main.account div.invoices ul {
    font-size: 16px;
}

main.account div.invoices ul li {
    flex-direction: column;
    padding: 12px 16px 12px;
}

main.account div.invoices ul li div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main.raffle {
    align-items: center;
}

main.raffle div.withdrawn h2,
main.raffle div.withdrawn p {
    text-decoration: line-through;
}

main.draw {
    max-width: unset;
    align-items: center;
}

main.draw h2 {
    margin-top: 28px;
    font-size: 24px;
    font-weight: normal;
}

main.draw dl {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 768px;
}

main.draw dl div {
    display: flex;
    width: 256px;
    flex-direction: column;
    align-items: center;
}

main.draw dl dt {
    margin-top: 24px;
    font-size: 64px;
    font-weight: bold;
}

main.draw dl dd {
    margin-top: 8px;
    font-size: 20px;
    color: grey;
}

main.draw div.buttons {
    margin-top: 44px;
}

dialog {
    width: 90%;
    max-width: 320px;
    margin: auto;
    padding-bottom: 0;
    border: none;
    border-radius: 8px;
}

dialog::backdrop {
    background: black;
    opacity: .5;
}

dialog h2 {
    margin-top: 0;
    font-size: 24px;
}

dialog h2.ln {
    margin-bottom: 12px;
}

dialog div {
    display: flex;
    gap: 0 4px;
}

dialog div span {
    align-self: center;
}

dialog p {
    display: flex;
    margin-top: 12px;
    flex-direction: column;
    flex-grow: 1;
    font-size: 16px;
}

dialog a {
    outline: none;
}

dialog img {
    max-width: 100%;
}

dialog label {
    display: block;
    margin-bottom: 4px;
    color: grey;
}

dialog label button {
    font-size: 16px;
}

dialog input {
    display: flex;
    flex-grow: 1;
    font-size: 16px;
}

dialog select {
    font-size: 16px;
}

dialog textarea {
    font-size: 16px;
}

dialog div.buttons {
    margin: 16px auto 8px;
    align-items: center;
}

dialog button.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 14px;
    border: none;
    background-color: white;
    color: black;
    font-size: 32px;
    cursor: pointer;
}

dialog footer {
    margin: 8px 0 16px;
    font-size: 11px;
    text-align: left;
    color: grey;
}

footer {
    text-align: center;
    color: grey;
}
