* {
    margin: 0;
    touch-action: manipulation;
    font-family: system-ui, sans-serif;
}

body {
    max-width: 420px;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 24px 24px;
}

main.event {
    margin-bottom: 0;
}

main h1 {
    margin-top: 24px;
    font-size: 32px;
}

main ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 20px 0 8px;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}

main li {
    display: flex;
}

main li.datetime::before {
    margin-right: 8px;
    content: '🗓';
}

main li.location::before {
    margin-right: 8px;
    content: '📍';
}

main li.attendees::before {
    margin-right: 8px;
    content: '👤';
}

main li.attendees span {
    font-weight: normal;
    color: grey;
}

main li.attendees span::before {
    margin-right: 8px;
    content: '✅';
}

main li span {
    align-self: center;
    margin-left: 16px;
}

main p {
    margin-top: 16px;
    font-size: 18px;
    line-height: 28px;
}

main p.formatted {
    margin-top: 12px;
    white-space: pre-line;
}

main div {
    display: flex;
    flex-direction: column;
    margin: 28px auto 0;
}

main button {
    margin-bottom: 12px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    background-color: #f7931a;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

main button.secondary {
    background-color: grey;
}

main button:disabled {
    cursor: default;
}

footer {
    margin-bottom: 32px;
    text-align: center;
    color: grey;
}

dialog {
    width: 90%;
    max-width: 320px;
    margin: auto;
    border: none;
    border-radius: 8px;
}

dialog::backdrop {
    background: black;
    opacity: .5;
}

dialog div.lnurl {
    position: relative;
}

dialog div#success {
    visibility: hidden;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: green;
    font-size: 200px;
    font-weight: bold;
    color: white;
    opacity: .97;
}

dialog h2 {
    margin-bottom: 12px;
    font-size: 24px;
}

dialog p {
    margin-top: 8px;
    font-size: 11px;
    color: grey;
}

dialog a {
    outline: none;
}

dialog img {
    max-width: 100%;
}

dialog button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 14px;
    border: none;
    background-color: white;
    color: black;
    font-size: 32px;
    cursor: pointer;
}

a {
    color: inherit;
}
