* {
    margin: 0;
    touch-action: manipulation;
    font-family: system-ui, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2em 4em;
    background-color: #fde8ce;
}

h1 {
    margin-top: 1em;
    font-size: 3em;
}

h2 {
    margin-top: 1em;
    font-size: 2.4em;
}

h2#ticket {
    font-size: 4em;
}

h1 span,
h2 span {
    font-family: sans-serif;
}

p {
    margin-top: 1em;
    font-size: 2em;
}

p#payment-hash {
    margin-top: .4em;
    font-size: 1.5em;
    color: gray;
}

ul {
    margin-top: 1em;
    padding: 0;
    list-style-type: none;
    font-size: 2em;
}

ul.accounts {
    list-style-type: disc;
}

ul.comments {
    font-size: 1.5em;
}

ul li {
    margin-bottom: .4em;
}

a {
    color: #f7931a;
}

div#balance {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#balance h2 {
    font-weight: normal;
}

div#balance p {
    margin-top: .4em;
    font-size: 1.5em;
    text-transform: uppercase;
    color: gray;
}

div.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

div.buttons button {
    margin-bottom: 1em;
    border: none;
    border-radius: .5em;
    padding: .5em 1em;
    background-color: gray;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

div.buttons button:first-child {
    background-color: #f7931a;
}

div.raffle {
    margin-top: 3em;
}

footer {
    color: gray;
}
