<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" media="all" href="/ln/static/stylesheet.css">

    <title>⛺️ {{.AccountKey}}</title>

</head>
<body>

<h1><span>⛺</span>️ {{.AccountKey}}</h1>

<div id="balance">
    <h2><strong>{{number .TotalSatsReceived}}</strong> sat{{if ne .TotalSatsReceived 1}}s{{end}}</h2>
    <p><strong>{{decimal .TotalFiatReceived}}</strong> {{.Currency}}</p>
</div>

<ul>
    <li><strong>{{number .InvoicesIssued}}</strong> invoice{{if ne .InvoicesIssued 1}}s{{end}} issued</li>
    <li><strong>{{number .InvoicesSettled}}</strong> invoice{{if ne .InvoicesSettled 1}}s{{end}} settled</li>
</ul>

<div class="buttons">
    <button onclick="location.href='/ln/pay/{{.AccountKey}}/qr-code?size=1280'">QR Code</button>
    {{if not .Raffle}}
        <button onclick="location.href='/ln/accounts/{{.AccountKey}}/terminal'">Terminal</button>
    {{end}}
    {{if .Archivable}}
        <button onclick="archive()">Archive</button>
    {{end}}
</div>

{{if .Raffle}}
    <h2><span>⚡</span>Raffle</h2>
    {{with .Raffle}}
        <ul>
            <li><strong>{{number .TicketPrice}}</strong> sats per ticket</li>
            <li><strong>{{number .PrizesCount}}</strong> prizes configured</li>
        </ul>
    {{end}}
    {{if ge .InvoicesSettled .Raffle.PrizesCount}}
        <div class="buttons">
            <button onclick="location.href='/ln/accounts/{{.AccountKey}}/raffle'">Draw</button>
        </div>
    {{end}}
{{end}}

<ul class="comments">
    {{range .Comments}}
        <li>
            <strong>{{number .Amount}}</strong> sat{{if ne .Amount 1}}s{{end}}
            on <strong>{{date .SettleDate}}</strong>:<br>
            <em>{{.Comment}}</em>
        </li>
    {{end}}
</ul>

<script>
    function archive() {
        if (!confirm('Really archive account state?')) {
            return false
        }
        const archiveRequest = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
        }
        fetch('/ln/accounts/{{.AccountKey}}/archive', archiveRequest)
            .then(() => document.location.reload())
    }
</script>

</body>
</html>
