<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" media="all" href="/static/auth.css">

    <title>Accounts</title>

</head>
<body>

<header>
    <h1 class="account">Accounts</h1>
</header>

<main class="accounts">
    <ul>
        {{range .}}
            <li><a href="/auth/accounts/{{.}}"><strong>{{.}}</strong></a></li>
        {{end}}
    </ul>
</main>

</body>
</html>
