<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" media="all" href="/static/auth.css">
    <script src="/static/utils.js"></script>

    <title>{{.AccountKey}}</title>

</head>
<body>

<header class="center">
    <h1 class="account">{{.AccountKey}}</h1>
</header>

<main class="account">
    <div class="balance">
        <h2>{{number .TotalSatsReceived "sat"}}</h2>
        <p>{{currency .TotalFiatReceived .FiatCurrency}}</p>
    </div>
    <div class="statistics">
        <p>{{number .InvoicesIssued "invoice"}} issued</p>
        <p>{{number .InvoicesSettled "invoice"}} settled</p>
        <p>{{number .CommentsCount "comment"}}</p>
    </div>
    <div class="buttons">
        <button onclick="showQrCode()">Show QR code</button>
        <button onclick="navigateTo('/auth/accounts/{{.AccountKey}}/terminal')">Open terminal</button>
        {{if .Archivable}}
            <button onclick="archiveInvoices()">Archive invoices</button>
        {{end}}
    </div>
    {{if .Invoices}}
        <div class="invoices">
            {{$previousDate := ""}}
            {{range .Invoices}}
                {{$date := date .SettleDate}}
                {{if ne $date $previousDate}}
                    {{if $previousDate}}
                        </ul>
                    {{end}}
                    <h3>{{$date}}</h3>
                    <ul>
                    {{$previousDate = $date}}
                {{end}}
                <li{{if .IsNew}} class="new"{{end}}>
                    <div>
                        <p><strong>{{time .SettleDate}}</strong></p>
                        <p>{{number .Amount "sat"}}</p>
                    </div>
                    {{if .Comment}}
                        <p class="subdued">{{.Comment}}</p>
                    {{end}}
                </li>
            {{end}}
            </ul>
        </div>
    {{end}}
</main>

<dialog id="dialog">
    <h2 class="ln">Payment QR code</h2>
    <form method="dialog">
        <button class="close">×</button>
    </form>
    <div class="lnurl">
        <img src="/ln/pay/{{.AccountKey}}/qr-code?size=1280" alt="LNURL-pay">
    </div>
    <footer>Scan or tap the QR code to open it in your Lightning wallet. You can use any wallet that supports LNURL-pay.</footer>
</dialog>

<script>
    function showQrCode() {
        element('dialog').showModal()
    }

    function archiveInvoices() {
        if (!confirm('Really archive the invoices?')) {
            return false
        }
        post('/api/accounts/{{.AccountKey}}/archive')
            .then(reloadPage)
    }
</script>

</body>
</html>
