<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" media="all" href="/static/auth.css">

    <title>LNURL Daemon</title>

</head>
<body>

<header>
    <h1>LNURL Daemon</h1>
</header>

<main class="dashboard">
    <ul>
        {{if .}}
            <li class="accounts"><a href="/auth/accounts"><strong>Accounts</strong></a></li>
        {{end}}
        <li class="events"><a href="/auth/events"><strong>Events</strong></a></li>
        <li class="raffles"><a href="/auth/raffles"><strong>Raffles</strong></a></li>
    </ul>
</main>

</body>
</html>
