<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{.Title}}">
    <meta property="og:description" content="{{datetime .Start}} | {{.Location.Name}}">

    <link rel="stylesheet" media="all" href="/static/public.css">
    <script src="/static/utils.js"></script>

    <title>{{.Title}}</title>

</head>
<body>

<main class="event">
    <h1>{{.Title}}</h1>
    <ul>
        <li class="datetime">{{datetime .Start}}</li>
        <li class="location">{{with .Location}}<a href="{{.Url}}">{{.Name}}</a>{{end}}</li>
        <li class="attendees">
            {{number .Attendees}} / {{number .Capacity}}
            {{if .AttendeeOrdinal}}<span>#{{.AttendeeOrdinal}}</span>{{end}}
        </li>
    </ul>
    {{range .Description}}
        <p class="formatted">{{.}}</p>
    {{end}}
    <div>
        {{if and .SignUpPossible (not .AttendeeOrdinal)}}
            <button onclick="signUp(this)">Sign up with Lightning</button>
        {{else if not .Identity}}
            <button onclick="logIn(this)">Log in with Lightning</button>
        {{end}}
        <button class="secondary" onclick="navigateTo('/events/{{.Id}}/ics')">Add to Calendar</button>
    </div>
</main>

<footer>
    {{if .Identity}}
        {{if .AttendeeOrdinal}}Signed up{{else}}Logged in{{end}} as {{.Identity.PublicId}}.
    {{else}}
        No personal data required.
    {{end}}
</footer>

{{if not .AttendeeOrdinal}}
    <dialog id="dialog">
        <h2>Log in with Lightning</h2>
        <div class="lnurl">
            <a id="link" href=""><img id="qrcode" src="" alt="LNURL-auth"></a>
            <div id="success">✓</div>
        </div>
        <form method="dialog">
            <button>×</button>
        </form>
        <footer>Scan or tap the QR code to open it in your Lightning wallet. You can use any wallet that supports LNURL-auth.</footer>
    </dialog>

    <script>
        const lnAuthExpiry = {{.LnAuthExpiry}}

        function signUp(signUpButton) {
            if (signUpButton) {
                signUpButton.disabled = true
            }
            post('/events/{{.Id}}/sign-up')
                .then(response => {
                    if (response.status === 401) {
                        initLnAuth(signUpButton)
                    } else if (element('dialog').open) {
                        element('success').style.visibility = 'visible'
                        setTimeout(reloadPage, 3000)
                    } else {
                        document.location.reload()
                    }
                })
        }

        function logIn(logInButton) {
            if (logInButton) {
                logInButton.disabled = true
            }
            initLnAuth(logInButton)
        }

        let k1
        let deadline

        function initLnAuth(button) {
            post('/ln/auth')
                .then(response => {
                    if (button) {
                        button.disabled = false
                    }
                    if (response.ok) {
                        return response.json()
                    }
                    return Promise.reject(response)
                })
                .then(body => {
                    k1 = body.k1
                    deadline = Date.now() + lnAuthExpiry
                    element('link').href = `lightning:${body.lnUrl}`
                    element('qrcode').src = `data:${body.qrCode}`
                    element('dialog').showModal()
                    awaitSuccess()
                })
        }

        function awaitSuccess() {
            if (Date.now() > deadline) {
                document.location.reload()
            }
            fetch(`/ln/auth/${k1}`)
                .then(response => {
                    if (response.ok) {
                        signUp()
                    } else if (element('dialog').open) {
                        setTimeout(awaitSuccess, 1000)
                    }
                })
        }
    </script>
{{end}}

</body>
</html>
