<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" media="all" href="/static/auth.css">

    <title>Events</title>

</head>
<body>

<main class="events">
    <h1>Events</h1>
    <ul>
        {{range .Events}}
            <li>
                <a href="/events/{{.Id}}"><strong>{{.Title}}</strong></a>
                <button onclick="openEditDialog('{{.Id}}')">Edit</button>
            </li>
        {{end}}
    </ul>
    <div class="buttons">
        <button onclick="openCreateDialog()">Create</button>
    </div>
</main>

<dialog id="dialog">
    <h2>Event</h2>
    <button class="close" onclick="closeDialog()">×</button>
    <form method="dialog">
        <p>
            <label for="title">Title</label>
            <input id="title" type="text" maxlength="50" required/>
        </p>
        <div>
            <p>
                <label for="date">Date</label>
                <input id="date" type="date" required/>
            </p>
            <p>
                <label for="time">Time</label>
                <input id="time" type="time" required/>
            </p>
        </div>
        <p>
            <label for="locationName">Location</label>
            <input id="locationName" type="text" maxlength="50" placeholder="Bitcoin coffee" required/>
            <input id="locationUrl" type="url" maxlength="100" placeholder="https://mapy.cz/s/gocovurafo" required/>
        </p>
        <p>
            <label for="capacity">Capacity</label>
            <input id="capacity" type="number" min="1" max="1000" required/>
        </p>
        <p>
            <label for="description">Description</label>
            <textarea id="description" rows="5" maxlength="500" required></textarea>
        </p>
        <div class="buttons">
            <button>Submit</button>
        </div>
    </form>
</dialog>

<script>
    const dialogElement = element('dialog');
    const titleElement = element('title')
    const dateElement = element('date')
    const timeElement = element('time')
    const locationNameElement = element('locationName')
    const locationUrlElement = element('locationUrl')
    const capacityElement = element('capacity')
    const descriptionElement = element('description')

    function openCreateDialog() {
        titleElement.value = ''
        dateElement.value = ''
        timeElement.value = ''
        locationNameElement.value = ''
        locationUrlElement.value = ''
        capacityElement.value = ''
        descriptionElement.value = ''
        dialogElement.onsubmit = () => submitEvent('POST', '/api/events')
        dialogElement.showModal()
    }

    function openEditDialog(eventId) {
        const eventUri = `/api/events/${eventId}`;
        fetch(eventUri)
            .then(response => response.json())
            .then(body => {
                titleElement.value = body.title
                dateElement.value = toDate(body.dateTime)
                timeElement.value = toTime(body.dateTime)
                locationNameElement.value = body.location.name
                locationUrlElement.value = body.location.url
                capacityElement.value = body.capacity
                descriptionElement.value = body.description
                dialogElement.onsubmit = () => submitEvent('PUT', eventUri)
                dialogElement.showModal()
            })
    }

    function submitEvent(method, uri) {
        fetch(uri, {
            method,
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify({
                title: titleElement.value,
                dateTime: toDateTime(dateElement.value, timeElement.value),
                location: toLocation(locationNameElement.value, locationUrlElement.value),
                capacity: Number(capacityElement.value),
                description: descriptionElement.value
            })
        }).then(() => document.location.reload())
    }

    function closeDialog() {
        dialogElement.close()
    }

    function toDate(dateTime) {
        return dateTime.substring(0, 10)
    }

    function toTime(dateTime) {
        return dateTime.substring(11, 16)
    }

    function toDateTime(date, time, zoneOffset = '{{.TimeZoneOffset}}') {
        return `${date}T${time}:00${zoneOffset}`
    }

    function toLocation(name, url) {
        return { name, url }
    }

    function element(elementId) {
        return document.getElementById(elementId)
    }
</script>

</body>
</html>
