<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" media="all" href="/static/public.css">

    <title>LNURL Daemon</title>

</head>
<body>

<main>
    <h1>LNURL Daemon</h1>
    <p>
        Minimalistic <a href="https://lightningaddress.com/">Lightning Address</a> and LNURL self-hosted
        HTTP server for your <a href="https://github.com/lightningnetwork/lnd">LND</a>.
    </p>
</main>

<footer>
    <a href="/auth">Log in</a> to admin user interface.
</footer>

</body>
</html>
