<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" media="all" href="/static/auth.css">

    <title>{{.Title}}</title>

</head>
<body>

<h1 class="raffles">{{.Title}}</h1>

<div id="balance">
    <h2><strong>{{number .TotalSatsReceived}}</strong> sat{{if ne .TotalSatsReceived 1}}s{{end}}</h2>
    <p><strong>{{decimal .TotalFiatReceived}}</strong> {{.FiatCurrency}}</p>
</div>

<ul>
    <li><strong>{{number .TicketPrice}}</strong> sat{{if ne .TicketPrice 1}}s{{end}} / ticket</li>
    <li><strong>{{number .TicketsIssued}}</strong> ticket{{if ne .TicketsIssued 1}}s{{end}} issued</li>
    <li><strong>{{number .TicketsPaid}}</strong> ticket{{if ne .TicketsPaid 1}}s{{end}} paid</li>
</ul>

<div class="buttons">
    {{if not .DrawAvailable}}
        <button onclick="location.href='/ln/raffle/{{.Id}}/qr-code?size=1280'">QR Code</button>
    {{end}}
    <button {{if ge .TicketsPaid .PrizesCount}}onclick="draw()"{{else}}disabled{{end}}>Draw</button>
    {{if .Archivable}}
        <button onclick="archive()">Archive</button>
    {{end}}
</div>

<script>
    function draw() {
        {{if not .DrawAvailable}}
        if (!confirm('Stop ticket sale and start raffle draw?')) {
            return false
        }
        {{end}}
        location.href = '/auth/raffles/{{.Id}}/draw'
    }

    function archive() {
        if (!confirm('Really archive the raffle?')) {
            return false
        }
        const archiveRequest = {
            method: 'POST',
            headers: {
                'Accept': 'application/json'
            },
        }
        fetch('/api/raffles/{{.Id}}/archive', archiveRequest)
            .then(() => document.location.reload())
    }
</script>

</body>
</html>
