<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" media="all" href="/static/auth.css">
    <script src="/static/utils.js"></script>

    <title>{{.Title}}</title>

</head>
<body>

<header class="center">
    <h1 class="raffle">{{.Title}}</h1>
</header>

<main class="raffle">
    <div class="balance{{if .WithdrawalFinished}} withdrawn{{end}}">
        <h2>{{number .TotalSatsReceived "sat"}}</h2>
        <p>{{currency .TotalFiatReceived .FiatCurrency}}</p>
    </div>
    <div class="statistics">
        <p>{{number .TicketPrice "sat"}} / ticket</p>
        <p>{{number .TicketsIssued "ticket"}} issued</p>
        <p>{{number .TicketsPaid "ticket"}} paid</p>
    </div>
    <div class="buttons">
        {{if not .DrawAvailable}}
            <button onclick="location.href='/ln/raffle/{{.Id}}/qr-code?size=1280'">Show QR code</button>
        {{end}}
        {{if not .DrawFinished}}
            <button {{if ge .TicketsPaid .PrizesCount}}onclick="drawRaffle()" {{else}}disabled{{end}}>Draw raffle</button>
        {{else}}
            <button onclick="navigateTo('/auth/raffles/{{.Id}}/draw')">Show winners</button>
        {{end}}
        {{if .Withdrawable}}
            <button onclick="withdrawSats()">Withdraw sats</button>
        {{end}}
        {{if .Lockable}}
            <button onclick="lockRaffle()">Lock raffle</button>
        {{end}}
    </div>
    {{if lt .TicketsPaid .PrizesCount}}
        <footer>{{number .PrizesCount "ticket"}} required</footer>
    {{end}}
</main>

<dialog id="dialog">
    <h2 class="ln">Withdraw via Lightning</h2>
    <div class="lnurl">
        <a id="link" href=""><img id="qrcode" src="" alt="LNURL-withdraw"></a>
        <div id="success">✓</div>
    </div>
    <form method="dialog">
        <button class="close">×</button>
    </form>
    <footer>Scan or tap the QR code to open it in your Lightning wallet. You can use any wallet that supports LNURL-withdraw.</footer>
</dialog>

<script>
    const withdrawalExpiry = {{.WithdrawalExpiry}}

    function drawRaffle() {
        {{if not .DrawAvailable}}
        if (!confirm('Stop ticket sale and draw the raffle?')) {
            return false
        }
        {{end}}
        navigateTo('/auth/raffles/{{.Id}}/draw')
    }

    let k1
    let deadline

    function withdrawSats() {
        post('/api/raffles/{{.Id}}/withdraw')
            .then(response => {
                if (response.ok) {
                    return response.json()
                }
                return Promise.reject(response)
            })
            .then(body => {
                k1 = body.k1
                deadline = Date.now() + withdrawalExpiry
                element('link').href = `lightning:${body.lnUrl}`
                element('qrcode').src = `data:${body.qrCode}`
                element('dialog').showModal()
                awaitSuccess()
            })
    }

    function awaitSuccess() {
        if (!element('dialog').open) {
            return
        }
        if (Date.now() > deadline) {
            document.location.reload()
        }
        fetch(`/ln/withdraw/${k1}`)
            .then(response => {
                if (response.ok) {
                    setTimeout(awaitSuccess, 1000)
                } else {
                    element('success').style.visibility = 'visible'
                    setTimeout(reloadPage, 3000)
                }
            })
    }

    function lockRaffle() {
        if (!confirm('Really lock the raffle?')) {
            return false
        }
        post('/api/raffles/{{.Id}}/lock')
            .then(reloadPage)
    }
</script>

</body>
</html>
